---
layout: page
title: Archive
permalink: /archive/
---
<ul>
{% for post in site.posts %}
    {% if post.categories contains "post" %}
        <li>
            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
    {% else %}
        {% unless post.categories contains "notes" %}
            <li>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </li>
        {% endunless %}
    {% endif %}
{% endfor %}
</ul>
