---
layout: default
title: Posts
---
<!-- Index page, list of posts -->
<div class="home">
<h1 id="post_page" style="margin-bottom:30px; font-size:20pt; border-bottom: solid 1px #e8e8e8">Posts</h1>
    <ul class="posts">
        {% assign i = 0 %}
        {% for post in site.posts %}
            {% if post.categories contains "post" %}
                {% assign i = i | plus: 1 %}
                <li>
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
            {% else %}
                {% unless post.categories contains "notes" %}
                    {% assign i = i | plus: 1 %}
                    <li>
                        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    </li>
                {% endunless %}
            {% endif %}
            {% if i > 7 %}
                {% break %}
            {% endif %}
        {% endfor %}
    </ul>
  <div id="archive_link">
      <a class="post-link" href="archive/">More Posts</a>
  </div>
</div>
