img.centered {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.centered-full {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.inline {
    display: inline;
    vertical-align: middle;
    margin: 2px;
    height: 24pt;
    width: auto;
}

iframe.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    img.centered {
        width: 90%
    }
}
