.mem_array td {
    border: 1px solid black;
    font-family: monospace;
    width:10px;
    height:10px;
    vertical-align: middle;
    background-color: #f1f1f1;
    padding:5px;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.mem_array table {
    border-collapse: collapse;
}
