thead {
    background-color: #f5f5ff;
}

table, tr, th, td {
    color: black;
    border: 1px solid #184c9a;
    border-collapse: collapse;
    text-align: center;
    padding:3px;
    min-width: 31px;
    min-height: 31px;
}

table {
    margin: 0 auto !important;
}

tbody {
    font-family: cm_mono;
}

td:hover {
    /*border:1px solid #2a7ae2;*/
    background-color: #f5f5ff;
}
